<h1>Login</h1>

<form
  [formGroup]="loginForm"
  (ngSubmit)="onSubmit()"
>
  <label for="email">Email</label>
  <input
    id="email"
    type="email"
    formControlName="email"
    aria-describedby="emailErr"
  />

  @if (loginForm.get('email')?.touched && loginForm.get('email')?.invalid) {
    <div id="emailErr">
      @if (loginForm.get('email')?.errors?.['required']) {
        <small aria-live="assertive">El email es obligatorio</small>
      }

      @if (loginForm.get('email')?.errors?.['email']) {
        <small aria-live="assertive">El email no es válido</small>
      }
    </div>
  }

  <button type="submit">Log in</button>
</form>
